<!DOCTYPE html>
<html lang="{{ $.Site.Language.Lang | default "en" }}">
  {{ partial "site-head.html" . }}
  <body>
    <div class="container">
      {{ block "header" . }}{{ partial "site-header.html" .}}{{ end }}
      {{ block "main" . }}{{ end }}
      {{ block "footer" . }}{{ partial "site-footer.html" .}}{{ end }}
    </div>
  </body>
</html>
