{{ define "main" }}
<main>
  <div class="main-container">
    <div class="content">
      {{- .Content -}}
    </div>
    <aside>
      <span><strong>Contents</strong></span>
      {{ .TableOfContents }}
    </aside>
    {{ if .GitInfo }}
    <hr />
    <div class="last-modified">
      <p>
        <strong>{{ i18n "last-modified" }}</strong>: {{ .GitInfo.AuthorDate | time.Format ":date_long" }} {{ i18n "by" }}
        <a href="https://cgit.freebsd.org/doc/commit/?id={{ .GitInfo.AbbreviatedHash }}" target="_blank">{{ .GitInfo.AuthorName }}</a>
      </p>
    </div>
    {{ end }}
  </div>
</main>
{{ end }}
