{{ $advisoriesCounter := 0 }}
{{ with .Site.Data.security.advisories }}
  {{ range (sort .advisories "date" "desc") }}
    {{ if lt $advisoriesCounter 3 }}
      <div class="advisories-item">
        <a href="{{ $.Site.BaseURL }}security/advisories/{{ .name }}.asc">{{ .name }}</a>
        <p class="date">
          {{ dateFormat "Jan 2, 2006" .date }}
          <i class="fa fa-calendar" aria-hidden="true"></i>
        </p>
      </div>
    {{ end }}
    {{ $advisoriesCounter = add $advisoriesCounter 1 }}
  {{ end }}
{{ end }}
