{{ $errataCounter := 0 }}
{{ with .Site.Data.security.errata }}
  {{ range (sort .notices "date" "desc") }}
    {{ if lt $errataCounter 3 }}
      <div class="errata-item">
        <a href="{{ $.Site.BaseURL }}security/advisories/{{ .name }}.asc">{{ .name }}</a>
        <p class="date">
          {{ dateFormat "Jan 2, 2006" .date }}
          <i class="fa fa-calendar" aria-hidden="true"></i>
        </p>
      </div>
    {{ end }}
    {{ $errataCounter = add $errataCounter 1 }}
  {{ end }}
{{ end }}
