{{ $eventsPath := (printf "data/%s/events/events.toml" $.Language.Lang (dateFormat "2006" now)) }}

{{ $eventsData := "" }}
{{ if (fileExists $eventsPath) -}}
  {{ $data := index .Site.Data $.Language.Lang }}
  {{ $eventsData = $data }}
{{ else }}
  {{ $dataDefaultLanguage := index .Site.Data .Sites.First.Language.Lang }}
  {{ $eventsData = $dataDefaultLanguage }}
{{ end }}

{{ with $eventsData }}
  {{ $eventsCounter := 0 }}
    {{ range (sort .events "year" "asc") }}
      {{ if le $eventsCounter 6 }}
        {{ range (sort .events "startDate" "asc") }}
          {{ if ge (dateFormat "20060102" .endDate) (dateFormat "20060102" now) }}
            <div class="event-item">
              <h4>
                {{ .name }}
                <br />
                {{ if or (.city) (.country) }}({{end}}{{ if .city }}{{ .city }},{{ end }} {{ if .country }}{{ .country }}{{ end }}{{ if or (.city) (.country) }}){{end}}
              </h4>
              <p class="date">
                {{ dateFormat "Jan 2, 2006" .startDate }} - {{ dateFormat "Jan 2, 2006" .endDate }}
                <i class="fa fa-globe" aria-hidden="true"></i>
              </p>
              <p>
                <a href="{{ if (fileExists $eventsPath) -}}{{ .Site.BaseURL | relLangURL }}{{ else }}{{ $.Site.BaseURL }}{{- end }}events/#{{ .id }}">
                  Read more
                </a>
              </p>
            </div>
            {{ $eventsCounter = add $eventsCounter 1 }}
          {{ end }}
        {{ end }}
      {{ end }}
    {{ end }}
{{ end }}
