{{ $newsPath := (printf "data/%s/news/news.toml" $.Language.Lang) }}

{{ $newsData := "" }}
{{ if (fileExists $newsPath) -}}
  {{ $data := index .Site.Data $.Language.Lang }}
  {{ $newsData = $data.news }}
{{ else }}
  {{ $dataDefaultLanguage := index .Site.Data .Sites.First.Language.Lang }}
  {{ $newsData = $dataDefaultLanguage.news }}
{{ end }}

{{ with $newsData.news }}
  {{ $newsCounter := 0 }}
  {{ $newsDayCounter := 1 }}
  {{ $newsDayPrev := false }}
  {{ range (sort .news "date" "desc") }}
    {{ if lt $newsCounter 3 }}
      {{ $newsDayCur := dateFormat "2006-01-02" .date }}
      {{ if eq $newsDayCur $newsDayPrev }}
        {{ $newsDayCounter = add $newsDayCounter 1 }}
      {{ else }}
        {{ $newsDayCounter = 1 }}
      {{ end }}
      <div class="news-item">
        {{ $title := replaceRE "<a .*\">" "" .title }}
        {{ $title = replaceRE "</a>" "" $title }}
        <h4>{{ $title | safeHTML }}</h4>
        <p class="date">
          {{ dateFormat "Jan 2, 2006" .date }}
          <i class="fa fa-newspaper-o" aria-hidden="true"></i>
        </p>
        {{ $description := replaceRE "<a .*\">" "" .description }}
        {{ $description = replaceRE "</a>" "" $description }}
        <p class="description">{{ $description | safeHTML }}</p>
        <p>
          <a href="{{.Site.BaseURL | relLangURL }}news/newsflash/#{{ dateFormat "2006-01-02" .date }}:{{ $newsDayCounter }}">Read more</a>
        </p>
      </div>
      {{ $newsCounter = add $newsCounter 1 }}
      {{ $newsDayPrev = $newsDayCur }}
    {{ end }}
  {{ end }}
{{ end }}
