<footer>
  <div class="footer-container">
    <section class="logo-column">
        <img src="{{ absLangURL ($.Site.BaseURL) }}images/beastie-right.svg" height="150" alt="Beastie" />
        <div class="options-container">
            <!--<div class="language-container">
              <a id="languages" href="{{ "languages" | absLangURL }}">
                <img src="{{ absLangURL ($.Site.BaseURL ) }}images/language.png" class="language-image" alt="{{ i18n "choose-language" }}">
                <span>{{ .Site.Language.LanguageName }}</span>
              </a>
            </div>-->
        </div>
      </section>
      <section class="about-column">
        <h3 class="column-title">{{ i18n "f-about" }}</h3>
        <ul class="column-elements-container">
          <li>
            <a href="https://www.freebsd.org/about/" target="_blank" class="column-element">{{ i18n "f-freebsd" }}</a>
          </li>
          <li>
            <a href="https://freebsdfoundation.org/" target="_blank" class="column-element">{{ i18n "f-freebsd-foundation" }}</a>
          </li>
          <li>
            <a href="https://www.freebsd.org/where/" target="_blank" class="column-element">{{ i18n "f-get-freebsd" }}</a>
          </li>
          <li>
            <a href="https://www.freebsd.org/internal/code-of-conduct" target="_blank" class="column-element">{{ i18n "f-code-of-conduct" }}</a>
          </li>
          <li>
            <a href="https://www.freebsd.org/security/" target="_blank" class="column-element">{{ i18n "f-security-advisories" }}</a>
          </li>
        </ul>
      </section>
      <section class="documentation-column">
        <h3 class="column-title">{{ i18n "f-documentation" }}</h3>
        <ul class="column-elements-container">
          <li>
            <a href="{{ .Site.BaseURL | relLangURL }}" class="column-element">{{ i18n "f-documentation-portal" }}</a>
          </li>
          <li>
            <a href="https://man.FreeBSD.org" target="_blank" class="column-element">{{ i18n "f-manual-pages" }}</a>
          </li>
          <li>
            <a href="https://papers.FreeBSD.org" target="_blank" class="column-element">{{ i18n "f-presentation-and-papers" }}</a>
          </li>
          <li>
            <a href="https://docs-archive.freebsd.org/doc/" target="_blank" class="column-element">{{ i18n "f-previous-versions" }}</a>
          </li>
          <li>
            <a href="https://docs-archive.freebsd.org/44doc/" target="_blank" class="column-element">{{ i18n "f-44bsd-documents" }}</a>
          </li>
          <li>
            <a href="https://wiki.freebsd.org/" target="_blank" class="column-element">{{ i18n "f-wiki" }}</a>
          </li>
        </ul>
      </section>
      <section class="community-column">
        <h3 class="column-title">{{ i18n "f-community" }}</h3>
        <ul class="column-elements-container">
          <li>
            <a href={{ "articles/contributing" | absLangURL }} class="column-element">{{ i18n "f-get-involved" }}</a>
          </li>
          <li>
            <a href="https://forums.freebsd.org/" target="_blank" class="column-element">{{ i18n "f-community-forum" }}</a>
          </li>
          <li>
            <a href="https://lists.freebsd.org/" target="_blank" class="column-element">{{ i18n "f-mailing-lists" }}</a>
          </li>
          <li>
            <a href="https://wiki.freebsd.org/IRC/Channels" target="_blank" class="column-element">{{ i18n "f-irc-channels" }}</a>
          </li>
          <li>
            <a href="https://bugs.freebsd.org/bugzilla/" target="_blank" class="column-element">{{ i18n "f-bug-tracker" }}</a>
          </li>
        </ul>
      </section>
      <section class="legal-column">
        <h3 class="column-title">{{ i18n "f-legal" }}</h3>
        <ul class="column-elements-container">
          <li>
            <a href="https://freebsdfoundation.org/donate/" target="_blank" class="column-element">{{ i18n "f-donations" }}</a>
          </li>
          <li>
            <a href="https://www.freebsd.org/copyright/freebsd-license/" target="_blank"
              class="column-element">{{ i18n "f-licensing" }}</a>
          </li>
          <li>
            <a href="https://www.freebsd.org/privacy/" target="_blank" class="column-element">{{ i18n "f-privacy-policy" }}</a>
          </li>
          <li>
            <a href="https://www.freebsd.org/copyright/" target="_blank" class="column-element">{{ i18n "f-legal-notices" }}</a>
          </li>
        </ul>
      </section>
      <section class="copyright-column">
        <p>&copy; 1994-{{ now.Format "2006" }} {{ i18n "f-all-rights-reserved" }}</p>
        <span>{{ i18n "f-made-with" }} <span class="heart">♥</span> {{ i18n "f-by-freebsd-community" }}</span>
      </section>
  </div>
</footer>
