<header>
  <div class="header-container">
    <div class="logo-menu-bars-container">
      <a href="{{ $.Site.Params.websiteURL }}" class="logo">
      {{ if $.Site.Params.isOnline }}
        <img src="{{ absLangURL ($.Site.BaseURL) }}images/FreeBSD-monochromatic.svg" width="160" height="50" alt={{ i18n "h-freebsd-logo" }} />
      {{ else }}
        <img src="/images/FreeBSD-monochromatic.svg" width="160" height="50" alt={{ i18n "h-freebsd-logo" }} />
      {{ end }}
      </a>
      <label class="menu-bars" for="menu-bars">
        <i class="fa fa-bars" aria-hidden="true"></i>
      </label>
    </div>
    <input id="menu-bars" type="checkbox" />
    <nav>
      <ul class="menu">
        <li class="menu-item">
          <input id="about" type="checkbox" />
          <a href="#" aria-label={{ i18n "h-navigate-about" }}>
            <label class="menu-item-description" for="about">
              {{ i18n "h-about" }}
              <i class="fa fa-angle-down fa-lg" aria-hidden="true"></i>
            </label>
          </a>
          <ul class="sub-menu">
            <li><a href={{ "about/" | absLangURL }}>{{ i18n "h-about" }}</a></li>
            <li><a href={{ "projects/newbies/" | absLangURL }}>{{ i18n "h-introduction" }}</a></li>
            <li><a href={{ "features/" | absLangURL }}>{{ i18n "h-features" }}</a></li>
            <li><a href={{ "privacy/" | absLangURL }}>{{ i18n "h-privacy-policy" }}</a></li>
            <li><a href={{ "projects/" | absLangURL }}>{{ i18n "h-projects" }}</a></li>
            <li><a href="https://ports.freebsd.org/cgi/ports.cgi" title={{ i18n "h-ports" }}>{{ i18n "h-ports" }}</a></li>
          </ul>
        </li>
        <li class="menu-item">
          <input id="download" type="checkbox" />
          <a href="#" aria-label={{ i18n "h-navigate-get" }}>
            <label class="menu-item-description" for="download">
              {{ i18n "h-get-freebsd" }}
              <i class="fa fa-angle-down fa-lg" aria-hidden="true"></i>
            </label>
          </a>
          <ul class="sub-menu">
            <li><a href={{ "where/" | absLangURL }}>{{ i18n "h-get-freebsd" }}</a></li>
            <li><a href={{ "releases/" | absLangURL }}>{{ i18n "h-release-information" }}</a></li>
            <li><a href={{ "releng/" | absLangURL }}>{{ i18n "h-release-engineering" }}</a></li>
          </ul>
        </li>
        <li class="menu-item">
          <input id="documentation" type="checkbox" />
          <a href="#" aria-label={{ i18n "h-navigate-documentation" }}>
            <label class="menu-item-description" for="documentation">
              {{ i18n "h-documentation" }}
              <i class="fa fa-angle-down fa-lg" aria-hidden="true"></i>
            </label>
          </a>
          <ul class="sub-menu">
            <li><a href="https://docs.FreeBSD.org">{{ i18n "h-documentation-portal" }}</a></li>
            <li><a href="https://docs.FreeBSD.org/en/books/handbook/">{{ i18n "h-freebsd-handbook" }}</a></li>
            <li><a href="https://docs.freebsd.org/en/books/porters-handbook/">{{ i18n "h-porter-handbook" }}</a></li>
            <li><a href="https://docs.FreeBSD.org/en/books/fdp-primer/">{{ i18n "h-documentation-handbook" }}</a></li>
            <li><a href="https://man.FreeBSD.org" target="_blank">{{ i18n "h-manual-pages" }}</a></li>
            <li><a href="https://papers.FreeBSD.org" target="_blank">{{ i18n "h-presentation-and-papers" }}</a></li>
            <li><a href="https://wiki.FreeBSD.org" target="_blank">{{ i18n "h-wiki" }}</a></li>
          </ul>
        </li>
        <li class="menu-item">
          <input id="community" type="checkbox" />
          <a href="#" aria-label={{ i18n "h-navigate-community" }}>
            <label class="menu-item-description" for="community">
              {{ i18n "h-community" }}
              <i class="fa fa-angle-down fa-lg" aria-hidden="true"></i>
            </label>
          </a>
          <ul class="sub-menu">
            <li><a href="https://www.freebsd.org/community/">{{ i18n "h-community" }}</a></li>
            <li><a href={{ "articles/contributing" | absLangURL }}>{{ i18n "h-get-involved" }}</a></li>
            <li><a href="https://forums.freebsd.org/" target="_blank">{{ i18n "h-community-forum" }}</a></li>
            <li><a href="https://lists.freebsd.org/" target="_blank">{{ i18n "h-mailing-lists" }}</a></li>
            <li><a href="https://wiki.freebsd.org/IRC/Channels" target="_blank">{{ i18n "h-irc-channels" }}</a></li>
            <li><a href="https://bugs.freebsd.org/bugzilla/" target="_blank">{{ i18n "h-bug-tracker" }}</a></li>
            <li><a href="https://www.freebsd.org/support/" target="_blank">{{ i18n "h-support" }}</a></li>
          </ul>
        </li>
      </ul>
    </nav>
    <div class="actions-container">
      {{ $currentLanguage := $.Site.Language }}
      <form class="search" method="get" id="search-header-form" action="https://docs.freebsd.org/search" yname="search-header-form">
        <input type="hidden" name="DB" value="{{ $currentLanguage }}" />
        <input id="words" name="P" type="text" size="20" maxlength="255" value="" />
        <button>
          <i class="fa fa-search" aria-hidden="true"></i>
        </button>
      </form>
      <div class="theme">

      </div>
      <div class="donate">
        <a href="https://freebsdfoundation.org/donate/" target="_blank">
          <span class="heart">♥</span>
          {{ i18n "h-donate" }}
        </a>
      </div>
    </div>
  </div>
</header>
