{{ define "main" }}
<main>
  <div class="main-container">
    <div class="content">
      {{- .Content -}}
      {{ if eq .Params.vendor "software" }}
        {{ partial "commercial-software.html" . }}
      {{ end }}

      {{ if eq .Params.vendor "isp" }}
        {{ partial "commercial-isp.html" . }}
      {{ end }}

      {{ if eq .Params.vendor "hardware" }}
        {{ partial "commercial-hardware.html" . }}
      {{ end }}

      {{ if eq .Params.vendor "consult" }}
        {{ partial "commercial-consulting.html" . }}
      {{ end }}

      {{ if eq .Params.vendor "misc" }}
        {{ partial "commercial-misc.html" . }}
      {{ end }}
    </div>
    <aside></aside>
    {{ if .GitInfo }}
    <hr />
    <div class="last-modified">
      <p>
        <strong>{{ i18n "last-modified" }}</strong>: {{ .GitInfo.AuthorDate | time.Format ":date_long" }} {{ i18n "by" }}
        <a href="https://cgit.freebsd.org/doc/commit/?id={{ .GitInfo.AbbreviatedHash }}" target="_blank">{{ .GitInfo.AuthorName }}</a>
      </p>
    </div>
    {{ end }}
  </div>
</main>
{{ end }}
