{{ define "main" }}
<main>
  <div class="main-container">
    <div class="not-found-container">
      <h1>{{ i18n "not-found-title" }}</h1>
      <img src="{{ absLangURL ($.Site.BaseURL) }}images/beastie.svg" />
      <h3>{{ i18n "not-found-body" }}</h3>
      <p>{{ i18n "not-found-try" }} <a href="https://www.FreeBSD.org">{{ i18n "m-website-portal" }}</a> {{ i18n "not-found-or" }} <a href="https://docs.FreeBSD.org/">{{ i18n "m-doc-portal"}}</a></p>
    </div>
  </div>
</main>
{{ end }}
