{{ define "main" }}
<main>
  <section class="introduction-container">
    <div class="introduction">
      <div class="main-logo">
        <img src="{{ absLangURL ($.Site.BaseURL) }}images/freebsd-logo-full.png" />
      </div>
      <h1>FreeBSD</h1>
      <p>{{ i18n "m-slogan-1" }}</p>
      <p>{{ i18n "m-slogan-2" }}</p>
    </div>
  </section>
  <section class="download-container">
    <div class="actions">
      <a href={{ "where/" | absLangURL }} class="download">{{ i18n "m-download" }}</a>
      <label class="download-options">
        <i class="fa fa-angle-down fa-lg" aria-hidden="true"></i>
        <input type="checkbox" class="download-options-input">
        <ul class="download-options-list">
          <li>
            <span>FreeBSD 13.2</span>
            <a href="https://download.freebsd.org/releases/amd64/amd64/ISO-IMAGES/13.2/FreeBSD-13.2-RELEASE-amd64-disc1.iso" title="Disc image">
              <img src="{{ absLangURL ($.Site.BaseURL) }}images/disc.svg" />
            </a>
            <a href="https://download.freebsd.org/releases/amd64/amd64/ISO-IMAGES/13.2/FreeBSD-13.2-RELEASE-amd64-mini-memstick.img" title="Mini memstick">
              <i class="fa fa-usb" aria-hidden="true"></i>
            </a>
            <a href="#" title="Release notes">
              <i class="fa fa-book" aria-hidden="true"></i>
            </a>
          </li>
          <li>
            <span>FreeBSD 12.4</span>
            <a href="https://download.freebsd.org/releases/amd64/amd64/ISO-IMAGES/12.4/FreeBSD-12.4-RELEASE-amd64-disc1.iso" title="Disc image">
              <img src="{{ absLangURL ($.Site.BaseURL) }}images/disc.svg" />
            </a>
            <a href="https://download.freebsd.org/releases/amd64/amd64/ISO-IMAGES/12.4/FreeBSD-12.4-RELEASE-amd64-mini-memstick.img" title="Mini memstick">
              <i class="fa fa-usb" aria-hidden="true"></i>
            </a>
            <a href="#" title="Release notes">
              <i class="fa fa-book" aria-hidden="true"></i>
            </a>
          </li>
          <li class="split"></li>
          <li class="other">
            <a href="./where#download">Other Download Options</a>
          </li>
        </ul>
      </label>
      <a href="https://docs.FreeBSD.org/en" class="documentation">
        <span>{{ i18n "m-doc-portal" }}</span>
      </a>
    </div>
    <div class="extra-info">
      <div>
        <span>
          {{ i18n "m-production" }}:
          <a href={{ index $.Site.Data.releases "u-rel132-announce" }}>{{ index $.Site.Data.releases "rel132-current" }}</a>
        </span>
        {{ $betaUpcoming := index $.Site.Data.releases "beta-upcoming" }}
        {{ if ne $betaUpcoming "IGNORE" }}
            <span>
              {{ i18n "m-upcoming" }}:
              <a href={{ index $.Site.Data.releases "u-betarel-schedule" }}>{{ index $.Site.Data.releases "betarel-current" }}</a>
            </span>
        {{ end }}
        {{ $beta2Upcoming := index $.Site.Data.releases "beta2-upcoming" }}
        {{ if ne $beta2Upcoming "IGNORE" }}
            <span>
              {{ i18n "m-upcoming" }}:
              <a href={{ index $.Site.Data.releases "u-betarel2-schedule" }}>{{ index $.Site.Data.releases "betarel2-current" }}</a>
            </span>
        {{ end }}
        {{ $beta3Upcoming := index $.Site.Data.releases "beta3-upcoming" }}
        {{ if ne $beta3Upcoming "IGNORE" }}
            <span>
              {{ i18n "m-upcoming" }}:
              <a href={{ index $.Site.Data.releases "u-betarel3-schedule" }}>{{ index $.Site.Data.releases "betarel3-current" }}</a>
            </span>
        {{ end }}
      </div>
      <div>
        <a href="#">{{ i18n "m-supported-releases" }}</a>
        <a href="#">{{ i18n "m-support-lifecycle" }}</a>
        <a href="#">{{ i18n "m-freebsd-license" }}</a>
      </div>
    </div>
  </section>
  <section class="core-technologies-container">
    <div class="core-technologies">
      <h2>{{ i18n "m-core-tech" }}</h2>
      <div class="technologies-container">
        <div class="technology">
          <h3>
            <i class="fa fa-rocket fa-lg" aria-hidden="true"></i>
            {{ i18n "m-simplicity-stability" }}
          </h3>
          <p>{{ i18n "m-simplicity-desc" }}</p>
        </div>
        <div class="technology">
          <h3>
            <img src="{{ absLangURL ($.Site.BaseURL) }}images/OpenZFS-logo.svg" width="25px" />
            {{ i18n "m-openzfs" }}
          </h3>
          <p>{{ i18n "m-openzfs-desc" }}</p>
        </div>
        <div class="technology">
          <h3>
            <i class="fa fa-anchor fa-lg" aria-hidden="true"></i>
            {{ i18n "m-containers" }}
          </h3>
          <p>{{ i18n "m-containers-desc" }}</p>
        </div>
        <div class="technology">
          <h3>
            <i class="fa fa-connectdevelop fa-lg" aria-hidden="true"></i>
            {{ i18n "m-networking" }}
          </h3>
          <p>{{ i18n "m-networking-desc" }}</p>
        </div>
        <div class="technology">
          <h3>
            <i class="fa fa-file-text-o fa-lg" aria-hidden="true"></i>
            {{ i18n "m-documentation" }}
          </h3>
          <p>{{ i18n "m-documentation-desc" }}</p>
        </div>
        <div class="technology">
          <h3>
            <i class="fa fa-university fa-lg" aria-hidden="true"></i>
            {{ i18n "m-community-open-gov" }}
          </h3>
          <p>{{ i18n "m-community-open-gov-desc" }}</p>
        </div>
      </div>
    </div>
  </section>
  <section class="trust-freebsd-container">
    <div class="trust-freebsd">
      <h2>{{ i18n "m-who-trust-freebsd" }}</h2>
      <div class="companies-projects">
        <div class="company-project">
          <img src="{{ absLangURL ($.Site.BaseURL) }}images/logos/netflix_logo.svg" />
        </div>
        <div class="company-project">
          <img src="{{ absLangURL ($.Site.BaseURL) }}images/logos/netapp_logo.svg" />
        </div>
        <div class="company-project">
          <img src="{{ absLangURL ($.Site.BaseURL) }}images/logos/juniper_networks_logo.svg" />
        </div>
        <div class="company-project">
          <img src="{{ absLangURL ($.Site.BaseURL) }}images/logos/beckhoff_logo.svg" />
        </div>
        <div class="company-project">
          <img class="stormshield" src="{{ absLangURL ($.Site.BaseURL) }}images/logos/stormshield_logo.png" />
        </div>
        <div class="company-project">
          <img class="nyi" src="{{ absLangURL ($.Site.BaseURL) }}images/logos/nyi_logo.png" />
        </div>
      </div>
    </div>
  </section>
  <section class="news-events-container">
    <div class="news">
      <h2>{{ i18n "m-informed" }}</h2>
      <p>{{ i18n "m-informed-desc" }}</p>
      <div class="news-container">
        {{ partial "news.html" . }}
      </div>
      <div class="all-news-container">
        <a class="all-news-link" href="#">
          <i class="fa fa-newspaper-o" aria-hidden="true"></i>
          {{ i18n "m-all-news" }}
        </a>
        <i class="fa fa-rss" aria-hidden="true"></i>
      </div>
      <div class="events-container">
        {{ partial "events.html" . }}
      </div>
      <div class="all-events-container">
        <a class="all-events-link" href="#">
          <i class="fa fa-globe" aria-hidden="true"></i>
          {{ i18n "m-all-events" }}
        </a>
        <i class="fa fa-rss" aria-hidden="true"></i>
      </div>
    </div>
  </section>
  <section class="cloud-container">
    <div class="clouds">
      <div class="cloud-description">
        <h2>{{ i18n "m-cloud" }} <br /> {{ i18n "m-pow-future" }}</h2>
        <p>{{ i18n "m-cloud-desc" }}</p>
        <p>{{ i18n "m-cloud-desc2" }}</p>
      </div>
      <div class="platforms">
        <a href="https://www.FreeBSD.org">
          <img class="cloud-logo" src="{{ absLangURL ($.Site.BaseURL) }}images/microsoft-azure-logo.svg" />
        </a>
        <a href="https://www.FreeBSD.org">
          <img class="cloud-logo" src="{{ absLangURL ($.Site.BaseURL) }}images/amazon-aws-logo.svg" />
        </a>
        <a href="https://www.FreeBSD.org">
          <img class="cloud-logo" src="{{ absLangURL ($.Site.BaseURL) }}images/google-cloud-logo.svg" />
        </a>
        <a href="https://www.FreeBSD.org">
          <img class="cloud-logo" src="{{ absLangURL ($.Site.BaseURL) }}images/oracle-cloud-logo.svg" />
        </a>
      </div>
    </div>
  </section>
  <section class="freebsd-foundation-container">
    <div class="freebsd-foundation">
      <div class="freebsd-foundation-description">
        <h2>{{ i18n "m-ff" }}</h2>
        <p>{{ i18n "m-ff-desc" }}</p>
        <p>
          <a class="all-events-link" href="https://freebsdfoundation.org/our-work/journal/browser-based-edition/">
            {{ i18n "m-journal" }}
            <i class="fa fa-arrow-right" aria-hidden="true"></i>
          </a>
        </p>
      </div>
      <div class="news-entries">
        {{ partial "ffnews.html" . }}
      </div>
    </div>
  </section>
  <section class="security-all-container">
    <div class="security">
      <h2>{{ i18n "m-prioritizing-security" }}</h2>
      <p>{{ i18n "m-security-desc" }}</p>
      <div class="advisories-container">
        {{ partial "advisories.html" . }}
      </div>
      <div class="all-advisories-container">
        <a class="all-advisories-link" href="#">
          {{ i18n "m-all-security-advisories" }}
        </a>
        <i class="fa fa-rss" aria-hidden="true"></i>
      </div>
      <div class="errata-container">
        {{ partial "errata-notices.html" . }}
      </div>
      <div class="all-errata-container">
        <a class="all-errata-link" href="#">
          {{ i18n "m-all-errata-notices" }}
        </a>
        <i class="fa fa-rss" aria-hidden="true"></i>
      </div>
    </div>
  </section>
</main>
{{ end }}
