/*
 * Copyright (c) 1994-2023, The FreeBSD Documentation Project
 * Copyright (c) 2021-2023, Sergio Carlavilla <carlavilla@FreeBSD.org>
 * All rights reserved.
 *
 * Redistribution and use in source and binary forms, with or without
 * modification, are permitted provided that the following conditions
 * are met:
 * 1. Redistributions of source code must retain the above copyright
 *    notice, this list of conditions and the following disclaimer.
 * 2. Redistributions in binary form must reproduce the above copyright
 *    notice, this list of conditions and the following disclaimer in the
 *    documentation and/or other materials provided with the distribution.
 *
 * THIS SOFTWARE IS PROVIDED BY THE AUTHOR AND CONTRIBUTORS ``AS IS'' AND
 * ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
 * IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE
 * ARE DISCLAIMED.  IN NO EVENT SHALL THE AUTHOR OR CONTRIBUTORS BE LIABLE
 * FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
 * DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS
 * OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION)
 * HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT
 * LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY
 * OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF
 * SUCH DAMAGE.
 *
 */

:root {
  --max-width: 1250px;
  --white: #FFF;
  --black: #000;
  --global-font-color: #000;
  --header-background: #AB2B28;
  --header-font-color: #FFF;
  --global-background-color: #FFF;
  --footer-background-color: #F0F1F5;
  --footer-border-color: #F0F1F5;
  --links-color: #990000;
  --card-background-color: #F0F1F5;
  --card-border-color: #F0F1F5;

  --admonition-links-color: #0645AD;
  --admonition-note-color: #19407C;
  --admonition-note-background-color: #EAF1FB;
  --admonition-warning-color: #BF6900;
  --admonition-warning-background-color: #FFF4E6;
  --admonition-important-color: #BF0000;
  --admonition-important-background-color: #FFE6E6;
  --admonition-caution-color: #BF3400;
  --admonition-caution-background-color: #FFECE6;
  --admonition-tip-color: #43B929;
  --admonition-tip-background-color: #EDFAEA;
}

@media (prefers-color-scheme: dark) {
  :root {
    --white: #FFF;
    --black: #000;
    --global-font-color: #000;
    --header-background: #AB2B28;
    --header-font-color: #FFF;
    --global-background-color: #FFF;
    --footer-background-color: #F0F1F5;
    --footer-border-color: #F0F1F5;
    --links-color: #990000;
    --card-background-color: #F0F1F5;
    --card-border-color: #F0F1F5;

  --admonition-links-color: #0645AD;
  --admonition-note-color: #19407C;
  --admonition-note-background-color: #EAF1FB;
  --admonition-warning-color: #BF6900;
  --admonition-warning-background-color: #FFF4E6;
  --admonition-important-color: #BF0000;
  --admonition-important-background-color: #FFE6E6;
  --admonition-caution-color: #BF3400;
  --admonition-caution-background-color: #FFECE6;
  --admonition-tip-color: #43B929;
  --admonition-tip-background-color: #EDFAEA;
  }
}

/*@media (prefers-color-scheme: dark) {
  :root {
    --white: #FFF;
    --black: #000;
    --global-font-color: #EEEFF1;
    --header-background: #AB2B28;
    --header-font-color: #EEEFF1;
    --global-background-color: #333333;
    --footer-background-color: #2B2B2B;
    --footer-border-color: #2B2B2B;
    --links-color: #BAD7FF;
    --card-background-color: #272727;
    --card-border-color: #272727;
  }
}*/

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src:
    url("../fonts/inter/Inter-Regular.woff2") format("woff2"),
    url("../fonts/inter/Inter-Regular.woff") format("woff");
}

@font-face {
  font-family: 'Inter var';
  font-weight: 100 900;
  font-display: swap;
  font-style: normal;
  font-named-instance: 'Regular';
  src: url("../fonts/inter/Inter-roman.var.woff2") format("woff2");
}

html {
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto, arial, sans-serif;
  scroll-padding-top: var(--header-height);
  scroll-behavior: auto;
}

@supports (font-variation-settings: normal) {
  html {
    font-family: 'Inter var', -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto, arial, sans-serif;
  }
}

html,
body {
  text-rendering: optimizeLegibility;
  line-height: 1.5;
}

body {
  display: flex;
  flex-direction: column;
  color: var(--global-font-color);
  padding: 0;
  margin: 0;
  font-size: 100%;
  font-weight: 400;
  font-style: normal;
  cursor: auto;
  background-color: var(--global-background-color);
}

@import "header";
@import "introduction";
@import "pages";
@import "footer";
